.product_details {
   display: flex;
   flex-direction: row-reverse;
   align-items: flex-start;
   gap: 4rem;
   padding: 1rem;
   max-width: 800px;
   margin: 0 auto;
}

.product_details h1 {
   text-align: left;
   font-size: 2rem;
}
.product_image_container{
   max-width: 350px;
   width: 100%;
}

.product_details p {
   text-align: justify;
   line-height: 1.5;
}

.product_details > div {
   text-align: left;
   font-weight: bold;
   row-gap: 1rem;
    display: flex;
    flex-direction: column;
}

.product_details img {
   border-radius: 5px;
   width: 100%;
   height: auto;
}

.ProductView {
   max-width: 1200px;
   margin: 0 auto;
   display: grid;
   grid-template-columns: 1fr 450px;
   grid-gap: 5rem;
   margin-top: 5rem;
 }
 .ProductView__images {
   justify-self: end;
 }
 .ProductView__images > img {
   border-radius: 0.5rem;
 }
 .ProductView__info {
   display: flex;
   flex-direction: column;
 }
 .ProductView__info__category {
   width: fit-content;
   font-size: 1.125rem;
   line-height: 1.5;
   letter-spacing: 0.5px;
   border: 2px solid white;
   color: white;
 
   padding: 0.5rem 1rem;
   border-radius: 1rem;
   margin-top: 1rem;
   margin-bottom: 0px;
 }
 .ProductView__info__title {
   font-size: 2rem;
   font-weight: 700;
   margin-top: 0;
   margin-bottom: 0.5rem;
 }
 .ProductView__info__description {
   font-size: 1.125rem;
   line-height: 1.5;
   letter-spacing: 0.5px;
   margin: 1rem 0px;
 }
 .ProductView__info__price {
   color: red;
   font-size: 2.125rem;
   font-weight: 700;
 }
 